<span style="color:red">{{error.errorMessage}}</span>
<div class="container" ng-show="user.role=='ADMIN'">
<div class="panel panel-info">
<div class="panel-heading">
<b>Blog Title </b> {{blogPost.blogTitle}}<br>
<b>Posted On </b>{{blogPost.postedOn | date :'dd-MM-yyyy'}}<br>
<b>Posted By </b>{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}<br>
<b>Email </b>{{blogPost.postedBy.email}}<br>
</div>
<div class="panel-body">
<p ng-bind-html="Content"><br>
<button class="btn btn-info"  ng-click="approve(blogpost)">Approve</button> &nbsp;
 <button class="btn btn-danger"  ng-click="reject(blogpost)">Reject</button>
<!--- approving-update blogpost set approved=1 where id=?-->
<!-- Reject- delete from blogpost where id=? -->
</div>
</div>
</div>

