
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                
                    <img class="img-rect" src="resources/images/collaboration.jpg" alt="first slide"  margin="auto">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="color:aqua;text-align:center;">WELCOME TO THE COMUNICATION CHANNEL</h1>
                            <p style="color:orange;font-size:24px;">The Role Of Social Media In Viral challenges</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="resources/images/connect.jpg" alt="Second slide"  margin="auto">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="color:orange;text-align:center;">CONNECT TO THE WORLD</h1>
                            <p style="color:blue;font-size:24px;">The Art Of Communication Is The Language Of Leadership</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img  src="resources/images/share.jpg" alt="Third slide"  margin="auto">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="color:green;text-align:center;">SHARE THE IDEA THROUGH SOCIAL COMMUNICATION</h1>
                            <p style="color:yellow;font-size:24px;">Use Social Media To Impact People,Not To Impress People!!</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" ></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->


</div>

</body>
</html>